table{
    border-collapse: collapse;
    text-align: justify;
    margin: 0px auto;
    width: 1000px;
}
table1,th,td{
    border-collapse: collapse;
    padding: 25px;
    font-family: sans-serif;
    text-decoration: solid;
    text-transform: capitalize;
}
thead{
    background-color: pink;
    text-transform: capitalize;
}
.td{
    background-color: rgb(173, 216, 230);
}
.td2{
    background-color: rgb(248, 240, 227);
}
.td3{
    background-color: lightgreen;
    text-decoration: solid;
    text-align: justify;
}
.td4{
    background-color: gray;    
}
div.main{
    font-weight: bolder;
    margin: 0px auto 0px auto;
    font-family: sans-serif;
}
.pink{
    background-color: pink;
}

/* This is second table css  */

.table2{
    border-collapse: collapse;
}
#th2{
    background-color: green;
}
#blue{
    text-emphasis-color: blue;
}